@using Company.Model
@model List<Company.Model.Staff>
@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}


<h1>简单的画一个表格展示数据</h1>
<table border="1" cellpadding="0" cellspacing="0">
    <tr>
        <th>ID</th>
        <th>姓名</th>
        <th>年龄</th>
        <th>性别</th>
    </tr>
    @foreach (Staff staff in Model)
    {
        <tr>
            <td>@staff.Id</td>
            <td>@staff.Name</td>
            <td>@staff.Age</td>
            <td>@staff.Sex</td>
        </tr>
    }
</table>
<hr />
<h1>增加</h1>
<form action="@Url.Action("Add", "Home")" method="POST">
    姓名:<input name="Name" />
    年龄:<input name="Age" />
    性别:<input name="Sex" />
    <button type="submit">提交</button>
</form>
<hr />
<h1>修改</h1>
<form action="@Url.Action("update", "Home")" method="POST">
    Id:<input name="Id" />
    姓名:<input name="Name" />
    年龄:<input name="Age" />
    性别:<input name="Sex" />
    <button type="submit">提交</button>
</form>
<hr />
<h1>删除</h1>
<form action="@Url.Action("Delete", "Home")" method="POST">
    Id:<input name="Id" />
    <button type="submit">提交</button>
</form>
